<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>NxtSec</strong> // Jason Goncalves <span id="footer-date"></span>
        </p>
        <p class="social-icons">
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-github-square"></i>
        </p>
    </div>
</footer>