<section class="section">
    <div class="container">
        <h1 class="title">Jason Goncalves</h1>
        <p class="subtitle">Padawan in the art of <strong>InfoSec</strong>.</p>
        <div class="columns">
            <div class="column">
                {{> card}}
            </div>
            <div class="column">
                {{> card}}
            </div>
            <div class="column">
                {{> card}}
            </div>
            <div class="column">
                {{> card}}
            </div>
        </div>
    </div>
</section>